* {
  margin: 0;
  padding: 0;
}

body {
  flex-direction: row;
  display: flex;
}

#map {
  height: 100%;
  width: 100%;
  display: flex;
  margin-left: auto;
}

img[alt="Google"] {
  display: none;
}
