body {
  font-family: Inter, sans-serif;
}

:root {
  --primary-color: #050635;
  --secondary-color: #200759;
  --accent-color: #3477BF;
  --button-color: #226A81;
  --electric-pruple: #600F93;
  --event-input-bg: #2A292E;
  --field-color: #242429;
  --font-fade: #A7A7A7;
  --bg-fill: #181818;
  --accept-bg-color: #458531;
  --reject-bg-color: #8f222f;
  --hyperlink-color: #5ad7dc;
}

.hyperlink, .hyperlink:visited, .hyperlink:active {
  text-decoration: none;
  color: var(--hyperlink-color);
  cursor: pointer;
}

.hyperlink:hover {
  text-shadow: 0 0 2px #98dfd3;
}

input::placeholder {
  color: var(--font-fade) !important;
}
