<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hotvite - Create Event</title>
  <link rel="stylesheet" href="../style/css/headerstyle.css">
  <link rel="stylesheet" href="../style/css/indexstyle.css">
  <link rel="stylesheet" href="../style/css/create-event.css">
  <link rel="stylesheet" href="../style/css/palettes.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <script src="../src/load-map.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
<header class="hv-sidebar">
  <div id="menu-buttons">
    <a class="menu-button" href="#"><img src="../assets/sidebar/LoginButton.png" alt="login"></a>
    <a class="menu-button" href="#"><img src="../assets/sidebar/MenuButton.png" alt="menu"></a>
    <a class="menu-button" href="#"><img src="../assets/sidebar/RecentButton.png" alt="recent"></a>
    <a class="menu-button" href="#"><img src="../assets/sidebar/SavedButton.png" alt="saved"></a>
    <a class="menu-button" href="#"><img src="../assets/sidebar/ChatButton.png" alt="chat"></a>
  </div>
  <a href="#"><img id="help-button" src="../assets/sidebar/HelpButton.png" alt="help"></a>
</header>
<div id="create-event">
  <div id="no-property-section">
    <div id="mini-map">
      <div id="map"></div>
    </div>
    <div id="profile">
      <div id="profile-card">
        <div id="name-block">
          <div id="picture"></div>
          <div id="display-name">
            <h4 id="name">John Doe</h4>
            <small id="role">User role</small>
          </div>
          <button id="user-action-button">Follow</button>
        </div>
        <div id="about-block">
          <span id="abt-text">About me:</span>
          <p id="abt-user-text">Some text here yayayayyayayayyaaya test to see if it works with line breaks and stuff</p>
        </div>
      </div>
      <div id="contact-block">
        <div id="youtube"></div>
        <div id="discord"></div>
      </div>
    </div>
  </div>
  <div id="property-section">
    <div id="event-head">
      <input class="form-control" id="event-title" value="New Event" maxlength="35">
      <img onclick="window.location.href='./index.html'" id="event-action-close" alt="close" src="../assets/event/close.png">
    </div>
      <form id="event-form">
        <div class="row">
          <div class="form-section" id="event-description-group">
            <div class="f-group">
              <label for="event-description">Description:</label>
              <textarea class="form-control" id="event-description" rows="1" placeholder="Event description"></textarea>
            </div>
          </div>
          <div class="f-group" id="event-specifications-group">
            <div class="group-child">
                <label for="event-date">Date:</label>
                <input name="datetimes" class="form-control" id="event-date">
              </div>
            <div class="group-child prop-col-2">
              <div id="event-type-container">
                <label for="event-type">Type:</label>
                <select class="form-select" id="event-type">
                  <option selected>Not specified</option>
                  <option>...</option>
                </select>
              </div>
              <div id="event-price-container">
                <label for="event-price">Price:</label>
                <input value="0.00€" min="0" class="form-control" id="event-price" placeholder="Price">
              </div>
            </div>
            <div class="group-child" id="event-address-container">
              <label for="event-address">Address:</label>
              <textarea class="form-control" id="event-address" placeholder="Address"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="f-group" id="event-requirements-group">
            <div class="group-child" id="event-requirements-tags">
              <label>Requirements:</label>
              <div id="event-requirements-container">
                <!-- Event requirements will be added here. Example: -->
                <div id="event-requirements-add-button">
                  <img src="../assets/event/add_event.png" alt="Add" width="15" height="15">
                </div>
              </div>
            </div>
            <div class="group-child" id="event-requirements-chat">
              <label for="event-chat-button">Chat:</label>
              <input id="event-chat-button" type="button" value="Disabled">
            </div>
          </div>
          <div class="f-group" id="event-participant-group">
            <div class="group-child">
              <label for="event-participants-count">Participants:</label>
              <div id="event-participants-container">
                <span id="participants-display-text">Participants will be displayed here</span>
                <input class="form-control" type="number" min="0" step="1" id="event-participants-count">
            </div>
          </div>
        </div>
        </div>
        <div class="row" id="form-handle-buttons">
          <input type="button" id="event-action-save" onclick="submitEventForm()" value="Create Event">
        </div>
      </form>
    </div>
  </div>
</body>
<script>
  $(function() {
    $('input[name="datetimes"]').daterangepicker({
      timePicker: true,
      startDate: moment().startOf('hour'),
      endDate: moment().startOf('hour').add(4, 'hour'),
      locale: {
        format: 'DD.M.Y HH:mm'
      }
    });
  });

  window.onload = function() {
    const s = document.createElement('script');
    s.src = "../src/create-event-src.js";
    document.body.appendChild(s);
  }
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCbhAtlH9_-6zlLsrMEYdMIx3Bnn3SBfE&callback=initMiniMap"
  defer
  async
></script>
</html>
