<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>header</title>
  <link rel="stylesheet" href="../style/css/headerstyle.css">
</head>
<body>
<header class="sideheader">
  <div class="logo">
      <a href=“#“><img src="../assets/LoginButton.png" alt="login"></a>
      <a href=“#“><img src="../assets/MenuButton.png" alt="menu"></a>
      <a href=“#“><img src="../assets/RecentButton.png" alt="recent"></a>
      <a href=“#“><img src="../assets/SavedButton.png" alt="saved"></a>
      <a href=“#“><img src="../assets/ChatButton.png" alt="chat"></a>
    </div>
    <a href=“#“><img class="helpbutton" src="../assets/HelpButton.png" alt="help"></a>
</header>
</body>
</html>
