<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LogIn</title>
  <link rel="stylesheet" href="../style/css/indexstyle.css">
  <link rel="stylesheet" href="../style/css/headerstyle.css">
  <link rel="stylesheet" href="../style/css/loginstyle.css"/>
</head>
<body>
<div id="login-popup">
  <div class="login">
    <div class="switch-button">
      <button id="login-button">Login</button>
      <button id="register-button">Register</button>
    </div>
    <h3>E-Mail</h3>
    <input type="text" id="fname" name="fname"><br>
    <h3>Password</h3>
    <input type="text" id="fpassword" name="fpassword"><br>
    <button id="sign-up">Sign Up</button>
    <div class="bottom">
      <div class="or">
        <div class="line"></div>
        <p>Or</p>
        <div class="line"></div>
      </div>
      <div class="google-login">
        <a href="#"><img src="../assets/google.png" alt="google"></a>
      </div>
      <div class="forgot-password">
        <p>Click <a href="#">here</a> if you forgot your password. Click <a href="#">here</a> if you don't have an
          account.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
